<main>
    <form *ngIf="showLogin">
        <h2>Login</h2>
        <span [style]="messageStyle">{{message}}</span>
        <div class="innerForm">
            <label for="firstNameLogin">First Name: </label>
            <input type="text" [(ngModel)]="firstName" id="firstNameLogin" name="firstName"><br>
            <label for="lastNameLogin">Last Name: </label>
            <input type="text" [(ngModel)]="lastName" id="lastNameLogin" name="lastName"><br>
            <label for="code">Code: </label>
            <input type="password" [(ngModel)]="code" id="code" name="code"><br>
        </div>
        <button type="button" (click)="submitLogin()">Submit</button><br>
        <a (click)="switchForm()">Don't have an account? Click here to register.</a>
    </form>
    <form *ngIf="!showLogin">
        <h2>Register</h2>
        <span [style]="messageStyle">{{message}}</span>
        <div class="innerForm">
            <label for="firstNameReg">First Name: </label>
            <input required type="text" [(ngModel)]="firstName" id="firstNameReg" name="firstName"><br>
            <label for="lastNameReg">Last Name: </label>
            <input required type="text" [(ngModel)]="lastName" id="lastNameReg" name="lastName"><br>
        </div>
        <button type="button" (click)="submitRegister()">Submit</button><br>
        <a (click)="switchForm()">Already have an account? Click here to log in.</a>
    </form>
</main>