@font-face {
    font-family: "futura-std-medium";
    src: url("./Futura-Std-Medium.otf") format('opentype');
}

@font-face {
    font-family: "futura-std-bold";
    src: url("./Futura-Std-Bold.otf") format('opentype');
}

@font-face {
    font-family: "futura-std-book";
    src: url("./Futura-Std-Book.otf") format('opentype');
}

@font-face {
    font-family: "futura-std-heavy";
    src: url("./Futura-Std-Heavy.otf") format('opentype');
}