table {
    border-collapse: collapse;
    background-color: #0741cb;
    color:#53bce1;
}

tr, td, th {
    border: 2px solid #00183c;
}

th {
    padding: .5em;
}

td {
    padding: 1em;
}

tr:hover {
    background-color: #1751db;
}

td:hover {
    background-color: #2161eb;
}