<table>
    <tr>
        <th>Theme</th>
        <th *ngFor="let score of rubric | filterRubric:'score'">{{ score }}</th>
    </tr>
    <tr *ngFor="let theme of rubric | filterRubric:'theme'">
        <td (mouseenter)="toggleDescription(theme)" (mouseleave)="toggleDescription(theme)">
            <b>{{theme}}</b>
            <div *ngIf="showDescription[theme]">{{ themeDescriptions[theme] }}</div>
        </td>
        <td *ngFor="let bric of rubric | filterRubric:'byTheme':theme">
            <app-rubric-box [rubric]="bric"></app-rubric-box>
        </td>
    </tr>
</table>