nav {
    background-color: black;
    border-bottom: 10px solid #f26925;
    font-family: 'futura-std-bold';
    color:white;
    padding:1em;
    display: flex;
    justify-content: space-between;
}

a {
    color:white;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

li {
    align-self: baseline;
    padding-right: 4em;
    font-size: 16pt;
}

span {
    align-self: center;
    padding: 0 1em;
    font-size: 24pt;
}