/* You can add global styles to this file, and also import other style files */
body {
    color: white;
    font-family: 'apercu-regular', 'futura-pt-medium', sans-serif;
    font-size:16pt;
}

h1 {
    font-family:'degular', 'futura-pt-bold', sans-serif;
}

input, select, textarea {
    font-size:16pt;
}

main {
    background-color:#00183c;
    margin-top:1em;
    border-radius:0px 100px;
    padding:2em;
}

nav, main {
    padding-left: 12em;
    padding-right: 12em;
}

button {
    background-color: #ff7014;
    color: white;
    font-size:16pt;
    font-family: 'apercu-regular', 'futura-pt-medium', sans-serif;
    border-radius: 20px;
    padding:.5em 1.5em 1.5em 1.5em;
    height: 2em;
    align-self: center;
    margin-left: 2em;
    border:2px solid transparent;
}

button:hover {
    background-color: #ffcf00;
}

button:active {
    background-color: white;
    border-color: #ffcf00;
    color:#ffcf00;
}

@font-face {
    font-family: "futura-std-medium";
    src: url("./assets/fonts/Futura-Std-Medium.otf") format('opentype');
}

@font-face {
    font-family: "futura-std-bold";
    src: url("./assets/fonts/Futura-Std-Bold.otf") format('opentype');
}

@font-face {
    font-family: "futura-std-book";
    src: url("./assets/fonts/Futura-Std-Book.otf") format('opentype');
}

@font-face {
    font-family: "futura-std-heavy";
    src: url("./assets/fonts/Futura-Std-Heavy.otf") format('opentype');
}

@font-face {
    font-family: "apercu-regular";
    src: url("./assets/fonts/Apercu-Regular.otf") format('opentype');
}

@font-face {
    font-family: "apercu-pro-regular";
    src: url("./assets/fonts/Apercu-Pro-Regular.otf") format('opentype');
}