div {
    /*background-color: #0741cb;*/
    margin:.5em;
    padding:0.5em 1em 1em 1em;
    border-radius:0px 25px;
}

div:hover {
    background-color: #5ebce1;
}

h1 {
    justify-self: center;
    text-align: center;
}

h1, h4, p {
    line-height: 4pt;
}